<div class="side-bar-wrapper">
    <div class="side-bar-content">
        <bar-button [buttonTitle]="'my progress'" [iconName]="'attachment'" [view]="views.Progress" [activeView$]="activeView$"></bar-button>
        <bar-button [buttonTitle]="'my lessons'" [iconName]="'class'" [view]="views.MyLessons" [activeView$]="activeView$"></bar-button>
        <bar-button [buttonTitle]="'add lesson'" [iconName]="'note_add'" [view]="views.AddLesson" [activeView$]="activeView$"></bar-button>
        <bar-button [buttonTitle]="'settings'" [iconName]="'settings'" [view]="views.Settings" [activeView$]="activeView$"></bar-button>
    </div>
</div>