<div class="add-lesson-wrapper">
    <div class="add-lesson-form-wrapper">
        <form [formGroup]="addLessonForm">
            <div>
                <div class="field-name-wrapper">
                    <div class="color-tag" [style.backgroundColor]="this.activeColorTag"></div>
                    <mat-form-field>
                        <mat-label>name of lesson</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </div>
                <color-picker (onChangedTagColor)="onChangedTagColor($event)"></color-picker>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{category}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>new category</mat-label>
                    <input matInput #category>
                </mat-form-field>
                <button type="button" class="button button-bg-blue" (click)="addCategory(category.value)">
                    Add category
                </button>
            </div>
            <word-translations></word-translations>
        </form>
    </div>
</div>