.lesson-search-wrapper {
    background-color: white;
    box-shadow: var(--shadow-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    form {
        width: 100%;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;

        mat-form-field:first-of-type {
            width: 30%;
        }
        button {
            margin-left: 48px;
        }
    }
}
