/* You can add global styles to this file, and also import other style files */
p,
body {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    width: 100%;
    height: 100vh;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*{
    box-sizing: border-box;
}

:root {
    --primary-grey: #e2e5e7;
    --primary-grey-dark: #b4bcc2;
    --primary-blue-dark: #041b2d;

    --primary-red: #FF4136;
    --shadow-color: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    --shadow-color-dark: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
    margin: 0 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
    background-color: unset !important;
}
